@implements IDisposable
@inject BlazorDataModel Model
@inject Radzen.DialogService DialogService

@switch (Helpers.StringLower(_action)) {
    case "reprocess":
        if (_workflow != null) {
            bool wasScheduled = _workflow.WorkScheduled.HasValue;

            <div class="alert @(wasScheduled ? "alert-warning" : "alert-danger")">
                <h2>
                    @if (wasScheduled) {
                        <Language Tag="ReProcessWorkflowItem" />    
                    } else {
                        <Language Tag="ProcessWorkflowItem" />
                    }
                </h2>

                <h3>
                    @if (wasScheduled) {
                        <Language Tag="ReProcessWorkflowItemScheduledWarning" />
                    } else {
                        <Language Tag="ReProcessWorkflowItemNeverScheduledWarning" />
                    }
                </h3>

                <div class="flexlist mb-2">
                    <div class="flexrow">
                        <div class="label right">
                            <div><Language Tag="WorkflowId" /></div>
                            <div><Language Tag="Workflow" /></div>
                            <div><Language Tag="WorkflowScheduled" /></div>
                            <div><Language Tag="WorkflowStarted" /></div>
                            <div><Language Tag="WorkflowCompleted" /></div>
                        </div>

                        <div class="value ms-2">
                            <div>@_workflow.WorkflowId</div>
                            <div>@_workflow.Name</div>
                            <div>@((MarkupString)Helpers.FormatDateTime(_workflow.WorkScheduled))</div>
                            <div>@((MarkupString)Helpers.FormatDateTime(_workflow.WorkStarted))</div>
                            <div>@((MarkupString)Helpers.FormatDateTime(_workflow.WorkCompleted))</div>
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="workflow-QuerystringValues">
                        <Language Tag="QuerystringValues" />
                    </label>
                    <input type="text"
                        id="workflow-QuerystringValues"
                        class="form-control"
                        @bind="QueryStringValues" />
                </div>

                @if (!String.IsNullOrWhiteSpace(_workflow.Rule)) {
                    <div class="mb-2">
                        <div><strong><Language Tag="Rule" /></strong>:</div>
                        <div class="task-rule border rounded p-2">
                            <pre>@Helpers.FormatJson(_workflow.Rule)</pre>
                        </div>
                    </div>
                }

                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-dark" @onclick="ReprocessWorkflowCancel">
                        <Language Tag="Cancel" IncludeIcon="true" />
                    </button>

                    <button type="button"
                            class="btn @(wasScheduled ? "btn-warning" : "btn-danger")"
                            @onclick="ReprocessWorkflowGo">
                        @if (wasScheduled) {
                            <Language Tag="ReProcess" />
                        } else {
                            <Language Tag="Process" />
                        }
                    </button>
                </div>

            </div>
        }
        break;

    case "reprocessing":
        <Language Tag="ProcessingWait" />
        break;

    default:
        <div class="mb-2 fixed-dialog-buttons">
            <div class="btn-toolbar" role="toolbar">
                <div class="@(InDialog ? "btn-group" : "btn-group btn-group-sm")" role="group">
                    @if (InDialog) {
                        <button type="button" class="btn btn-dark" @onclick="Close">
                            <Language Tag="Close" IncludeIcon="true" />
                        </button>
                    }

                    <button class="btn btn-dark"
                            id="btn-zoom-in"
                            @onclick="@(() => WorkflowEngine.WorkflowsZoomIn(_elementId))"
                            disabled="@(Model.User.UserPreferences.WorkflowsZoom == 4)">
                        <Language Tag="ZoomIn" IncludeIcon="true" />
                    </button>
                    <button class="btn btn-dark"
                            id="btn-zoom-out"
                            @onclick="@(() => WorkflowEngine.WorkflowsZoomOut(_elementId))"
                            disabled="@(Model.User.UserPreferences.WorkflowsZoom == 0.3)">
                        <Language Tag="ZoomOut" IncludeIcon="true" />
                    </button>
                    <button class="btn btn-dark"
                            id="btn-zoom-reset"
                            @onclick="@(() => WorkflowEngine.WorkflowsZoomReset(_elementId))"
                            disabled="@(Model.User.UserPreferences.WorkflowsZoom == 1)">
                        <Language Tag="ZoomReset" IncludeIcon="true" />
                    </button>
                </div>

                <div class="@(InDialog ? "btn-group" : "btn-group btn-group-sm") ms-2" role="group">
                    <div class="@(InDialog ? "btn-group" : "btn-group btn-group-sm")">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <input type="range"
                                        aria-label="@Helpers.Text("WorkflowZoomLevel")"
                                        id="zoom-range-input"
                                        class="custom-range"
                                        min="0.3"
                                        max="4"
                                        step="0.1"
                                        @bind="Model.User.UserPreferences.WorkflowsZoom"
                                        @bind:event="oninput"
                                        @bind:after="@(() => WorkflowEngine.WorkflowsUpdatedZoom(_elementId))">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        break;
}

<div style="@(String.IsNullOrWhiteSpace(_action) ? "" : "display:none;")">
    <div id="@_elementId" class="mermaid editor wf-canvas" style="@ElementStyle"></div>
</div>

@code {
    [Parameter]
    public string QueryStringValues { get; set; } = String.Empty;

    [Parameter]
    public string Diagram { get; set; } = String.Empty;

    [Parameter]
    public bool EditMode { get; set; }

    [Parameter]
    public Guid ParentItemId { get; set; }

    [Parameter]
    public Guid DataItemId { get; set; }

    [Parameter]
    public Delegate? OnDialogClosed { get; set; }

    [Parameter]
    public List<DataObjects.Workflow> WorkflowOrphans { get; set; } = new List<DataObjects.Workflow>();

    [Parameter]
    public EventCallback<List<DataObjects.Workflow>> WorkflowOrphansChanged { get; set; }

    [Parameter]
    public List<DataObjects.Workflow> Workflows { get; set; } = new List<DataObjects.Workflow>();

    [Parameter]
    public EventCallback<List<DataObjects.Workflow>> WorkflowsChanged { get; set; }

    [Parameter]
    public List<DataObjects.Workflow>? WorkflowData { get; set; }

    [Parameter]
    public EventCallback<List<DataObjects.Workflow>?> WorkflowDataChanged { get; set; }

    [Parameter]
    public string WorkflowType { get; set; } = String.Empty;

    [Parameter]
    public bool InDialog { get; set; }

    protected string _action = String.Empty;
    protected string _diagram = String.Empty;
    protected string _elementId = String.Empty;
    protected string _lastDiagram = String.Empty;
    protected bool _loadedData = false;
    protected string _moveWorkflow = String.Empty;
    protected DataObjects.Workflow? _workflow;

    public void Dispose()
    {
        Model.OnSignalRUpdate -= SignalRUpdate;
        Model.OnDotNetHelperHandler -= OnDotNetHelperHandler;
        Model.OnChange -= StateHasChanged;
    }

    protected override void OnInitialized()
    {
        Model.OnChange += StateHasChanged;
        Model.OnDotNetHelperHandler += OnDotNetHelperHandler;
        Model.OnSignalRUpdate += SignalRUpdate;
        _elementId = "workflows-" + Helpers.NewCleanGuid();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_diagram != Diagram) {
            _diagram = Diagram;

            if (_diagram != _lastDiagram) {
                await RenderWorkflowDiagram();
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Model.Loaded && Model.LoggedIn && !_loadedData) {
            _loadedData = true;

            if (!String.IsNullOrWhiteSpace(_diagram)) {
                if (_lastDiagram != _diagram) {
                    await RenderWorkflowDiagram();
                }
            } else {
                await RenderWorkflowDiagramFromData();
            }
        }
    }

    protected async Task Close()
    {
        await Helpers.ClearDotNetHelperButtonHandlers();

        if (OnDialogClosed != null) {
            OnDialogClosed.DynamicInvoke();
        }

        DialogService.Close();
    }

    protected string ElementStyle {
        get {
            string output = "overflow:hidden; user-select: none; touch-action: none;";

            if (!EditMode) {
                output += " cursor:move;";
            }

            return output;
        }
    }

    protected async void OnDotNetHelperHandler(List<string> messages)
    {
        var action = messages[0];

        string workflowAction = String.Empty;

        if (messages.Count > 1) {
            workflowAction += messages[1];
        }

        switch (Helpers.StringLower(action)) {
            case "reprocessworkflow":
                await ReprocessWorkflow(workflowAction);
                break;

            case "workflows":
                switch (Helpers.StringLower(workflowAction)) {
                    case "button":
                        string buttonAction = String.Empty;

                        if (messages.Count > 2){
                            buttonAction += messages[2];
                        }

                        string element4 = String.Empty;
                        if (messages.Count > 3){
                            element4 += messages[3];
                        }

                        string element5 = String.Empty;
                        if (messages.Count > 4){
                            element5 += messages[4];
                        }

                        switch (Helpers.StringLower(buttonAction)) {
                            case "addchild":
                                var workflowParent = WorkflowEngine.GetWorkflow(element5, Workflows, WorkflowOrphans);
                                if (workflowParent != null) {
                                    // Add a new child to this for the correct type.
                                    // When this gets saved the backend data access library will update the parent item as well.
                                    await Helpers.EditWorkflow(new DataObjects.Workflow {
                                        WorkflowId = Guid.NewGuid(),
                                        TenantId = Model.TenantId,
                                        ParentItemId = ParentItemId,
                                        ParentWorkflowId = workflowParent.WorkflowId,
                                        ParentAction = element4,
                                        Enabled = true,
                                        WorkflowType = "form",
                                    }, WorkflowEditComplete);
                                }
                                break;

                            case "copy":
                                var copyWorkflow = WorkflowEngine.GetWorkflow(element4, Workflows, WorkflowOrphans);
                                if (copyWorkflow != null){
                                    await Helpers.CopyWorkflow(copyWorkflow);
                                }
                                break;

                            case "delete":
                                // Hide the delete button and show the secondary confirm and delete buttons for this item.
                                // First, hide all other confirm buttons and make sure all delete buttons are shown, this resets everything.
                                await WorkflowEngine.ResetWorkflowDeleteConfirmationButtons();

                                // Next, hide just this delete button.
                                await Helpers.HideElementById(element4 + "-delete");

                                // Show these confirmation buttons.
                                await Helpers.ShowElementById(element4 + "-delete-cancel", "inline-block");
                                await Helpers.ShowElementById(element4 + "-delete-confirm", "inline-block");
                                break;

                            case "delete-cancel":
                                await WorkflowEngine.ResetWorkflowDeleteConfirmationButtons();
                                break;

                            case "delete-confirm":
                                await WorkflowEngine.ResetWorkflowDeleteConfirmationButtons();
                                WorkflowEngine.DeleteWorkflow(element4, Workflows, WorkflowOrphans);
                                await WorkflowDelegateUpdate();
                                await RenderWorkflowDiagramFromData();
                                break;

                            case "edit":
                                var workflowEdit = WorkflowEngine.GetWorkflow(element4, Workflows, WorkflowOrphans);
                                if (workflowEdit != null){
                                    await Helpers.EditWorkflow(workflowEdit, WorkflowEditComplete);
                                }
                                break;

                            case "move":
                                // The the id of the item being moved.
                                if (_moveWorkflow == element4){
                                    _moveWorkflow = String.Empty;
                                    await Helpers.HideElementByClass("btn-move-target");
                                }else {
                                    _moveWorkflow = element4;
                                    await Helpers.ShowElementByClass("btn-move-target");

                                    await Helpers.HideElementById(_moveWorkflow + "-move-success");
                                    await Helpers.HideElementById(_moveWorkflow + "-move-complete");
                                    await Helpers.HideElementById(_moveWorkflow + "-move-failure");

                                    // You can't move an item to a child, so make sure to hide all child item move buttons.
                                    await WorkflowsHideMoveButtonsOnChildren(element4);
                                }
                                break;

                            case "move-here":
                                WorkflowEngine.MoveWorkflow(_moveWorkflow, element4, element5, Workflows, WorkflowOrphans);
                                await Helpers.HideElementByClass("btn-move-target");
                                await WorkflowDelegateUpdate();
                                await RenderWorkflowDiagramFromData();
                                break;

                            case "paste":
                                var copiedWorkflow = await Helpers.GetCopiedWorkflow();

                                if (copiedWorkflow != null && copiedWorkflow.WorkflowId != Guid.Empty && copiedWorkflow.WorkflowId.ToString() != element4) {
                                    var updateWorkflowItem = WorkflowEngine.GetWorkflow(element4, Workflows, WorkflowOrphans);
                                    if (updateWorkflowItem != null){
                                        // Update the properties that can be copied and pasted.
                                        updateWorkflowItem.Name = copiedWorkflow.Name;
                                        updateWorkflowItem.Type = copiedWorkflow.Type;
                                        updateWorkflowItem.Rule = copiedWorkflow.Rule;
                                        updateWorkflowItem.Enabled = copiedWorkflow.Enabled;

                                        await WorkflowDelegateUpdate();
                                        await RenderWorkflowDiagramFromData();
                                    }
                                }

                                break;

                            case "reprocess":
                                // Only used from the data view.
                                break;

                            case "start":
                                await Helpers.EditWorkflow(new DataObjects.Workflow {
                                    WorkflowId = Guid.NewGuid(),
                                    TenantId = Model.TenantId,
                                    ParentItemId = ParentItemId,
                                    ParentWorkflowId = null,
                                    Enabled = true,
                                    WorkflowType = "form",
                                }, WorkflowEditComplete);
                                break;

                            case "view":
                                var workflowView = WorkflowEngine.GetWorkflow(element4, Workflows, WorkflowOrphans);
                                if (workflowView != null) {
                                    await Helpers.EditWorkflow(workflowView, null, true);
                                }
                                break;
                        }

                        break;

                    case "copyobject":
                        string workflowId = String.Empty;
                        if (messages.Count > 2) {
                            workflowId = messages[2];
                        }

                        string objectIndex = String.Empty;
                        if (messages.Count > 3) {
                            objectIndex = messages[3];
                        }

                        string objectAsString = String.Empty;

                        if (WorkflowData != null && !String.IsNullOrWhiteSpace(workflowId) && !String.IsNullOrWhiteSpace(objectIndex)) {
                            var workflowProcess = WorkflowData.FirstOrDefault(x => x.WorkflowId.ToString() == workflowId);
                            if (workflowProcess != null && workflowProcess.State != null && workflowProcess.State.Objects != null) {
                                if (Helpers.IsInt(objectIndex)) {
                                    var index = Convert.ToInt32(objectIndex);

                                    if (workflowProcess.State.Objects.Count > index) {
                                        var o = workflowProcess.State.Objects.ElementAt(index);



                                        try {
                                            objectAsString += o.Value.ToString();
                                        } catch { }
                                    }
                                }
                            }
                        }

                        if (!String.IsNullOrEmpty(objectAsString)) {
                            await Helpers.CopyToClipboard(Helpers.FormatJson(objectAsString), true);
                        } else {
                            Model.ErrorMessage(Helpers.Text("UnableToCopyObjectToClipboard"), false, true);
                        }
                        break;
                }
                break;
        }
    }

    protected async Task RenderWorkflowDiagram()
    {
        await WorkflowEngine.RenderWorkflowDiagram(_elementId, _diagram, Model.User.UserPreferences.WorkflowsZoom);

        _lastDiagram = _diagram;

        StateHasChanged();
    }

    protected async Task RenderWorkflowDiagramFromData()
    {
        _diagram = WorkflowEngine.RenderWorkflows(
            WorkflowData,
            Workflows,
            WorkflowOrphans,
            EditMode ? DataObjects.WorkflowRenderMode.Editor : DataObjects.WorkflowRenderMode.Data,
            !EditMode,
            !EditMode,
            Model.User
        );

        if (_diagram != _lastDiagram) {
            await RenderWorkflowDiagram();
        }
    }

    protected async Task ReprocessWorkflow(string? id)
    {
        if (WorkflowData != null) {
            _workflow = WorkflowData.FirstOrDefault(x => x.WorkflowId.ToString() == id);

            if (_workflow != null) {
                _action = "reprocess";
                StateHasChanged();
            }
        }
    }

    protected void ReprocessWorkflowCancel()
    {
        _action = String.Empty;
        StateHasChanged();
    }

    protected async Task ReprocessWorkflowGo()
    {
        if (_workflow != null) {
            _action = "reprocessing";
            StateHasChanged();

            Model.ClearMessages();

            var request = new DataObjects.ReProcessWorkflows { 
                TenantId = Model.TenantId,
                ParentItemId = ParentItemId,
                DataItemId = DataItemId,
                QueryStringValues = QueryStringValues,
                WorkflowId = _workflow.WorkflowId,
                WorkflowType = WorkflowType,
            };

            await Helpers.ClearDotNetHelperButtonHandlers();

            var result = await Helpers.GetOrPost<DataObjects.WorkflowProcessing>("api/Data/ReprocessWorkflow", request);

            if (result != null) {
                if (result.ActionResponse.Result) {
                    _action = String.Empty;
                    StateHasChanged();

                    await RenderWorkflowDiagramFromData();
                } else if (result.ActionResponse.Messages.Any()) {
                    Model.ErrorMessages(result.ActionResponse.Messages);
                } else {
                    Model.UnknownError();
                }
            } else {
                Model.UnknownError();
            }
        }
    }

    protected async void SignalRUpdate(DataObjects.SignalRUpdate update)
    {
        switch (update.UpdateType) {
            case DataObjects.SignalRUpdateType.Workflow:
                // The workflows get reloaded by the main SignalR handler in the MainLayout, but we need to redraw them now.
                var workflow = Helpers.DeserializeObject<DataObjects.Workflow>(update.ObjectAsString);
                if (workflow != null && workflow.Type == "form" && workflow.ParentItemId == ParentItemId) {
                    await RenderWorkflowDiagramFromData();
                }
                break;

            case DataObjects.SignalRUpdateType.WorkflowData:
                await Helpers.ConsoleLog("Updated WorkflowData");
                await Helpers.ConsoleLog(update);

                if (InDialog && update.ItemId == DataItemId) {
                    var updatedData = Helpers.DeserializeObject<List<DataObjects.Workflow>>(update.ObjectAsString);
                    if (updatedData != null) {
                        await Helpers.ConsoleLog(updatedData);
                        WorkflowData = updatedData;
                        await RenderWorkflowDiagramFromData();
                    } else {
                        await Helpers.ConsoleLog("Unable to Deserialize Data");
                    }
                }
                break;

            case DataObjects.SignalRUpdateType.WorkflowProcessing:
                if (InDialog) {
                    bool renderUpdates = false;

                    switch (update.Message.ToLower()) {
                        case "deleted":
                            if (Workflows.Any(x => x.WorkflowId == update.ItemId) || (WorkflowData != null && WorkflowData.Any(x => x.WorkflowId == update.ItemId))) {
                                Workflows = Workflows.Where(x => x.WorkflowId != update.ItemId).ToList();

                                if (WorkflowData != null) {
                                    WorkflowData = WorkflowData.Where(x => x.WorkflowId != update.ItemId).ToList();
                                }

                                renderUpdates = true;
                            }
                            break;

                        case "saved":
                            if (WorkflowData == null) {
                                WorkflowData = new List<DataObjects.Workflow>();
                            }

                            var wfItem = Helpers.DeserializeObject<DataObjects.WorkflowProcessing>(update.ObjectAsString);
                            if (wfItem != null && wfItem.ParentItemId == ParentItemId) {
                                DataObjects.Workflow? wfData = WorkflowData.FirstOrDefault(x => x.WorkflowId == wfItem.WorkflowId);

                                if (wfData != null) {
                                    wfData.State = wfItem.State;
                                    wfData.Result = wfItem.Result;
                                    wfData.Success = wfItem.Success;
                                    wfData.WorkCompleted = wfItem.WorkCompleted;
                                    wfData.WorkScheduled = wfItem.WorkScheduled;
                                    wfData.WorkStarted = wfItem.WorkStarted;
                                } else {
                                    WorkflowData.Add(new DataObjects.Workflow {
                                        ActionResponse = wfItem.ActionResponse,
                                        Added = wfItem.Added,
                                        AddedBy = wfItem.AddedBy,
                                        Deleted = wfItem.Deleted,
                                        DeletedAt = wfItem.DeletedAt,
                                        Enabled = wfItem.Enabled,
                                        ParentItemId = wfItem.ParentItemId,
                                        LastModified = wfItem.LastModified,
                                        LastModifiedBy = wfItem.LastModifiedBy,
                                        Name = wfItem.Name,
                                        OnComplete = wfItem.OnComplete,
                                        OnFailure = wfItem.OnFailure,
                                        OnSuccess = wfItem.OnSuccess,
                                        ParentAction = wfItem.ParentAction,
                                        ParentWorkflowId = wfItem.ParentWorkflowId,
                                        Result = wfItem.Result,
                                        Rule = wfItem.Rule,
                                        State = wfItem.State,
                                        Success = wfItem.Success,
                                        TenantId = wfItem.TenantId,
                                        Type = wfItem.Type,
                                        WorkCompleted = wfItem.WorkCompleted,
                                        WorkflowId = wfItem.WorkflowId,
                                        WorkScheduled = wfItem.WorkScheduled,
                                        WorkStarted = wfItem.WorkStarted,
                                        WorkflowType = wfItem.WorkflowType,
                                    });
                                }

                                renderUpdates = true;
                            }
                            break;
                    }

                    if (renderUpdates) {
                        await RenderWorkflowDiagramFromData();
                    }
                }
                break;
        }
    }

    protected async Task WorkflowDelegateUpdate()
    {
        if (WorkflowsChanged.HasDelegate) {
            await WorkflowsChanged.InvokeAsync(Workflows);
        }

        if (WorkflowOrphansChanged.HasDelegate) {
            await WorkflowOrphansChanged.InvokeAsync(WorkflowOrphans);
        }
    }

    protected async Task WorkflowEditComplete(DataObjects.Workflow workflow){
        Workflows = Workflows.Where(x => x.WorkflowId != workflow.WorkflowId).ToList();
        Workflows.Add(workflow);

        var parentWorkflow = WorkflowEngine.GetWorkflow(workflow.ParentWorkflowId, Workflows, WorkflowOrphans);
        if (parentWorkflow != null){
            switch(workflow.ParentAction){
                case "success":
                    parentWorkflow.OnSuccess = workflow.WorkflowId;
                    break;

                case "failure":
                    parentWorkflow.OnFailure = workflow.WorkflowId;
                    break;

                case "complete":
                    parentWorkflow.OnComplete = workflow.WorkflowId;
                    break;
            }
        }

        await WorkflowDelegateUpdate();

        await RenderWorkflowDiagramFromData();
    }

    protected async Task WorkflowsHideMoveButtonsOnChildren(string workflowId)
    {
        var workflow = WorkflowEngine.GetWorkflow(workflowId, Workflows, WorkflowOrphans);

        if (workflow != null){
            if (workflow.OnSuccess != null){
                await Helpers.HideElementById(workflow.OnSuccess.Value.ToString() + "-move-success");
                await Helpers.HideElementById(workflow.OnSuccess.Value.ToString() + "-move-complete");
                await Helpers.HideElementById(workflow.OnSuccess.Value.ToString() + "-move-failure");
                await WorkflowsHideMoveButtonsOnChildren(workflow.OnSuccess.Value.ToString());
            }

            if (workflow.OnComplete != null)
            {
                await Helpers.HideElementById(workflow.OnComplete.Value.ToString() + "-move-success");
                await Helpers.HideElementById(workflow.OnComplete.Value.ToString() + "-move-complete");
                await Helpers.HideElementById(workflow.OnComplete.Value.ToString() + "-move-failure");
                await WorkflowsHideMoveButtonsOnChildren(workflow.OnComplete.Value.ToString());
            }

            if (workflow.OnFailure != null){
                await Helpers.HideElementById(workflow.OnFailure.Value.ToString() + "-move-success");
                await Helpers.HideElementById(workflow.OnFailure.Value.ToString() + "-move-complete");
                await Helpers.HideElementById(workflow.OnFailure.Value.ToString() + "-move-failure");
                await WorkflowsHideMoveButtonsOnChildren(workflow.OnFailure.Value.ToString());
            }
        }
    }
}