@page "/Settings/Tags"
@page "/{TenantCode}/Settings/Tags"
@implements IDisposable
@using Blazored.LocalStorage
@inject IJSRuntime jsRuntime
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject BlazorDataModel Model
@if (Model.Loaded && Model.View == _pageName) {
    @if (_loading) {
        <h1 class="page-title">
            <Language Tag="Tags" IncludeIcon="true" />
        </h1>
        <LoadingMessage />
    }else{
        <div class="@Model.StickyMenuClass">
            <h1 class="page-title">
                <Language Tag="Tags" IncludeIcon="true" />
                <StickyMenuIcon />
            </h1>
            <div class="mb-2">
                <a href="@(Helpers.BuildUrl("Settings/AddTag"))" role="button" class="btn btn-success">
                    <Language Tag="AddNewTag" IncludeIcon="true" />
                </a>
            </div>
        </div>

        <div class="mb-2">
            <div class="form-check form-switch">
                <input type="checkbox" id="tags-IncludeDeletedRecords" class="form-check-input" @bind="Model.User.UserPreferences.IncludeDeletedItems" />
                <label for="tags-IncludeDeletedRecords" class="form-check-label"><Language Tag="IncludeDeletedRecords" /></label>
            </div>
        </div>

        <div class="mb-2">
            <div class="form-check form-switch">
                <input type="checkbox" id="tags-EnabledItemsOnly" class="form-check-input" @bind="Model.User.UserPreferences.EnabledItemsOnly" />
                <label for="tags-EnabledItemsOnly" class="form-check-label"><Language Tag="EnabledItemsOnly" /></label>
            </div>
        </div>

        @if (Model.Tags.Any(x => x.Enabled == true || !Model.User.UserPreferences.EnabledItemsOnly)) {
            <table class="table table-sm">
                <thead>
                    <tr class="table-dark">
                        <th style="width:1%;"></th>
                        <th><Language Tag="TagName" ReplaceSpaces="true" /></th>
                        <th><Language Tag="TagPreview" ReplaceSpaces="true" /></th>
                        <!-- {{ModuleItemStart:Appointments}} -->
                        <th class="center" style="width:1%;"><Icon Name="Schedule" Title="TagUseInAppointments" /></th>
                        <!-- {{ModuleItemEnd:Appointments}} -->
                        <!-- {{ModuleItemStart:EmailTemplates}} -->
                        <th class="center" style="width:1%;"><Icon Name="EmailTemplates" Title="TagUseInEmailTemplates" /></th>
                        <!-- {{ModuleItemEnd:EmailTemplates}} -->
                        <!-- {{ModuleItemStart:Services}} -->
                        <th class="center" style="width:1%;"><Icon Name="Service" Title="TagUseInServices" /></th>
                        <!-- {{ModuleItemEnd:Services}} -->
                        <EditTag_App Area="th" />
                        <th class="center" style="width:1%;"><Language Tag="Enabled" ReplaceSpaces="true" /></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tag in Model.Tags.Where(x => x.Enabled == true || !Model.User.UserPreferences.EnabledItemsOnly).OrderBy(x => x.Name)) {
                        @if (!tag.Deleted || Model.User.UserPreferences.IncludeDeletedItems) {
                            string itemClass = String.Empty;
                            if (tag.Deleted) {
                                itemClass = "item-deleted";
                            } else if (!tag.Enabled) {
                                itemClass = "disabled";
                            }

                            <tr class="@itemClass">
                                <td>
                                    <button type="button" class="btn btn-xs btn-primary nowrap" @onclick="@(() => EditTag(tag.TagId))">
                                        <Language Tag="Edit" IncludeIcon="true" />
                                    </button>
                                </td>
                                <td>@tag.Name</td>
                                <td>
                                    @((MarkupString)Helpers.RenderTag(tag))
                                </td>
                                <!-- {{ModuleItemStart:Appointments}} -->
                                <td class="center">@((MarkupString)Helpers.BooleanToIcon(tag.UseInAppointments))</td>
                                <!-- {{ModuleItemEnd:Appointments}} -->
                                <!-- {{ModuleItemStart:EmailTemplates}} -->
                                <td class="center">@((MarkupString)Helpers.BooleanToIcon(tag.UseInEmailTemplates))</td>
                                <!-- {{ModuleItemEnd:EmailTemplates}} -->
                                <!-- {{ModuleItemStart:Services}} -->
                                <td class="center">@((MarkupString)Helpers.BooleanToIcon(tag.UseInServices))</td>
                                <!-- {{ModuleItemEnd:Services}} -->
                                <EditTag_App Value="tag" Area="td" />
                                <td class="center">@((MarkupString)Helpers.BooleanToIcon(tag.Enabled))</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        } else {
            <Language Tag="NoItemsToShow" />
        }
    }
}
@code {
    [Parameter] public string? TenantCode { get; set; }

    protected bool _loadedData = false;
    protected bool _loading = true;

    protected string _pageName = "tags";

    public void Dispose()
    {
        Model.OnChange -= OnDataModelUpdated;
        Model.OnSignalRUpdate -= SignalRUpdate;

        Model.Subscribers_OnChange.Remove(_pageName);
        Model.Subscribers_OnSignalRUpdate.Remove(_pageName);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            Model.TenantCodeFromUrl = TenantCode;
        }

        if (Model.Loaded && Model.LoggedIn) {
            if (!Model.FeatureEnabledTags || !Model.User.Admin) {
                Helpers.NavigateToRoot();
                return;
            }

            await Helpers.ValidateUrl(TenantCode);

            if (!_loadedData) {
                _loadedData = true;
                await LoadData();
            }
        }
    }

    protected override void OnInitialized()
    {
        if (!Model.Subscribers_OnChange.Contains(_pageName)){
            Model.Subscribers_OnChange.Add(_pageName);
            Model.OnChange += OnDataModelUpdated;
        }

        if (!Model.Subscribers_OnSignalRUpdate.Contains(_pageName)){
            Model.Subscribers_OnSignalRUpdate.Add(_pageName);
            Model.OnSignalRUpdate += SignalRUpdate;
        }

        Model.View = _pageName;
    }

    protected void OnDataModelUpdated()
    {
        if (Model.View == _pageName) {
            StateHasChanged();
        }
    }

    protected void EditTag(Guid TagId)
    {
        Helpers.NavigateTo("Settings/EditTag/" + TagId.ToString());
    }

    protected string FormatTagStyle(DataObjects.Tag tag)
    {
        string output = "";

        if (!String.IsNullOrWhiteSpace(tag.Style)) {
            output += tag.Style;
        }

        return output;
    }

    protected async Task LoadData()
    {
        // Always reload the data in the data model.
        _loading = true;
        await Helpers.LoadTags();
        _loading = false;

        StateHasChanged();
    }

    protected void SignalRUpdate(DataObjects.SignalRUpdate update)
    {
        if (update.UpdateType == DataObjects.SignalRUpdateType.Tag && Model.View == _pageName && update.UserId != Model.User.UserId) {
            StateHasChanged();
        }
    }
}
